version: "3"
services:
  api:
    build: .
    container_name: service-etudient-api
    restart: always
    ports:
      - "3000:3000"
    environment:
      - MONGO_URI=${MONGO_URI}
    env_file:
      - .env
